<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="hmDbConnection"
			 connectionString="data source=LAPTOP-O5PJHRAI\SQLEXPRESS;initial catalog=HotelManagementDb;persist security info=True;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient" />

		<add name="hmDbConnection_dev"
			 connectionString="data source=localhost;initial catalog=northwind;persist security info=True;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient" />

		<add name="hmDbConnection_qa"
			 connectionString="data source=localhost;initial catalog=northwind;persist security info=True;Integrated Security=SSPI;"
			 providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>